.BorderRadius{
    border-radius: 0px !important;
}

.BorderRadius {
    width: 305px;
    height: 40px;
    margin-bottom: 22px;
    background-color:white !important; 
    border-color: #dddddd !important;
    border-radius: 0px !important;
}
.Custom {   
    font-family: HelveticaNeue;
    font-size: 14px;
    text-align: left !important;
    line-height: 1.43;
    color: #9b9b9b !important;
    margin-bottom: 27px;
}


@media (max-width: 575.98px) { 
    .BorderRadius{
        border-radius: 0px !important;
        width: 210px;
        position: relative;
        left: 44px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {

  .BorderRadius {
      width: 180px;
    }
  }